* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
}

.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pic {
    height: auto;
    width: 302px;
    transition-duration: 0.3s;
}

.pic:hover {
    scale: 1.1;
}

.about {
    background-color: antiquewhite;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    width: 100vw;
}

.text {
    width: 540px;
}

.text h2 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;

}

.text h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.hire:hover {
    background: #000;
    border: 1px solid #4070f4;
}