.btn-header {
  min-width: 110px;
  width: 100%;
}

.btn-header i {
  margin: 5px;
}

.navbar {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand {
  cursor: pointer;
  margin: auto;
}

.navbar-brand a {
  color: white;
}

.navbar-brand img {
  height: 30px;
  width: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}