.btn-header {
  /* min-width: 110px; */
  width: 100%;
  text-align: left;
  padding: 10px;
}

.btn-header a {
  color: white;
}

.btn-header i {
  margin: 5px;
}

nav-item {
  /* display: flex; */
  height: 100%;
}

nav-item button {
  height: 100%;
}