:root {
  --background-color: #eee;
  --border-color-dark: #999;
  --border-color-light: #ddd;
  ---dark-color: #212529;
  --grey-text-color: #888;
  --highlight-color: coral;
  width: 100%;
}

#home {


  background-image: url(./assets/img/banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-attachment: fixed;
}

#home span {
  color: coral;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  object-fit: contain;
}

#App {
  background-color: var(--background-color);
  min-height: 100vh;
  /* padding-bottom: 10px; */
}

#outer-container {
  margin: auto;
  max-width: 1600px;
  /* padding: 0 20px; */
}

/* button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

button:hover {
  background-color: #3a3833;
} */

.btn {
  border-radius: 0;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.highlight-link {
  color: var(--highlight-color);
  cursor: pointer;
  text-decoration: underline;
}

.ovf-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zoom {
  transition: 300ms;
}

.zoom:hover {
  transform: scale(1.2);
}

footer {
  background-color: #1d1d1d;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #d8d8d8;
}

footer li a:hover {
  color: #d8d8d8;
}

footer p {
  color: #999;
  font-size: 0.8rem;
}

footer .copyright a {
  color: #000;
  width: 38px;
  height: 38px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  padding-left: 8px;
  margin: 0 5px;
}

a {
  overflow: hidden;
}

.text-uppercase {
  color: #c7c7c7;
}

footer .copyright a:hover {
  overflow: hidden;
  color: #fff;
  background-color: #fb774b;
}

.send-btn {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: coral;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url();
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
  font-weight: 700;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: coral;
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: coral;
  ;
  border-radius: 50%;
}

.text {
  font-weight: 300;
  opacity: 0.9;
}

.contact-bg .text {
  margin: 1.6rem 0;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0.1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}

.contact-info span {
  display: block;
  color: coral;
  font-size: 23px;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.4rem;
}

.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}

.contact-form form {
  padding-bottom: 1rem;
}

.contact-form form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1rem;
  outline: 0;
}

.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  /* column-gap: 0.6rem; */
  gap: 10px;
}

.send-btn:hover {
  opacity: 0.8;
}
.contact-form>form>button{
  margin-top: 10px;
}
.contact-form>div img {
  width: 85%;
}

.contact-form>form>div>input {
  margin-bottom: 10px;
}

.contact-form>div {
  margin: 0 auto;
  text-align: center;
}